* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #333333;
    background: #202020 url('../images/bg.jpg');
}

h1, h2 {
    font-family: Georgia, Times, serif;
    font-weight: normal;
    font-style: italic;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
}

h2 {
    font-size: 2.5em;
    letter-spacing: -1px;
}

p {
    padding: .75em 0;
    line-height: 1.5em;
}

a {
    text-decoration: underline;
    color: #0A84AC;
}

a:hover {
    text-decoration: none;
}

img {
    border: 1px solid #555555;
}

img.block {
    display: block;
    margin: 0 0 2.5em 0;
}

#header,  #menu, #footer {
    margin: 0 auto;
    width: 1200px;
}

/* header */

#header {
    height: 197px;
    background: #202020 url('../images/header.jpg');
}

#header h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 0px -1px 1px #000000;
    color: #FDEAB5;
    padding-top: 60px;
}

#header h1 a {
    text-decoration: none;
    color: #FDEAB5;
}

#log_info {
    text-align: right;
    padding-top: 30px;
    color: #CCC;
}

/* menu */

#menu {
    height: 123px;
    text-align: center;
    background: #202020 url('../images/menu.jpg');
}

#menu ul {
    list-style: none;
    padding-top: 28px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 0 40px;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    text-decoration: none;
    text-shadow: 0px -1px 1px #000000;
    color: #FFFFFF;
}

#menu ul li a:hover {
    color: #D7EEF6;
}

#menu ul li.active a, #menu ul li.active a:hover {
    color: #95D3E7;
}

/* main */

#main {
    width: 1120px;
    margin: 0 auto 50px auto;
    padding: 40px 40px 0 40px;
    background: #FEEBB2 url('../images/main.jpg');
}

/* content */

#content {
    float: right;
    width: 80%;
    padding: 0 0 20px 0;
}

#content .post {
    padding: 0 0 6em 0;
}

#content .entry {
    padding-top: 2.5em;
}

#content h2 a {
    color: #333333;
    text-decoration: none;
}

p.postmeta {
    color: #888888;
}

p.readmore {
    padding: 2em 2em 2em 0;
    text-align: right;
}

p.readmore a {
    display: block;
    float: right;
    width: 140px;
    height: 48px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    background: #DCCB97;
    border: 1px solid #C9B989;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* sidebar */

#sidebar {
    float: left;
    width: 20%;
    padding: 0 0 20px 0;
}

#sidebar h2 {
    font-size: 1.5em;
}

#sidebar ul {
    list-style: none;
    margin: 2.25em 0 2.75em 0;
}

#sidebar ul li {
    padding: .2em 0;
    line-height: 2.5em;
}

#sidebar .box {
    padding: 1.5em 0 2em 0;
}

.clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
}

/* footer */

#footer {
    clear: both;
    padding: 20px 0 60px 0;
    color: #999999;
    background: url('../images/footer.jpg') no-repeat top;
}

#footer p {
    text-align: center;
}
/* forms */

form {
    margin: 0;

}

td {
    padding-left: 15px;
    padding-top: 15px;
}
td input {
    height: 30px;
}

.register_button {
    font-size: 100%;
    padding: 3px;
    margin: 10px;
}
.submit_form_button {
    font-size: 100%;
    height: auto;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background: #95D3E7;
    font-weight: bold;
}

.error {
    float: none; 
    color: #FF0000;
    padding-left: 5px; 
    vertical-align: top;
}

.mini_photo  {
    width: 70px;
    height: 70px;
    padding: 15px;
    float: left;
}

/*paging*/

#pages ul {
    list-style-type:none;  
    float:left; 
    position:relative; 
    left:50%;
}
#pages li {
    float:left; 
    margin:0 5px; 
    position:relative; 
    right:50%; 
}
#pages li.current a{
    color:#F00;
}

div.clear {
    clear:both;
}
#tabs, #tabs2 {
    font-size:90%;
}

.conspicuous {
    color: crimson;
    text-transform: uppercase;
    font-weight: bold;
}

.offer_description li{
    list-style: none;
    padding-bottom: 10px;
}

#accordion1 a, #accordion2 a, #accordion3 a, #accordion4 a{
    color:crimson;
}

.bold {
    font-weight: bold;
    color: crimson;
    font-style: italic;
} .datas_list {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.datas_list2 {
    font-size: 25px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 10px;
}

.datas_list_name {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.icon {
    height: 20px;
    width: 25px;
    border: 0;
}

/* information table*/
.information_table {
    margin:15px 0px;
    padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:14px;
    -webkit-border-bottom-left-radius:14px;
    border-bottom-left-radius:14px;

    -moz-border-radius-bottomright:14px;
    -webkit-border-bottom-right-radius:14px;
    border-bottom-right-radius:14px;

    -moz-border-radius-topright:14px;
    -webkit-border-top-right-radius:14px;
    border-top-right-radius:14px;

    -moz-border-radius-topleft:14px;
    -webkit-border-top-left-radius:14px;
    border-top-left-radius:14px;
}.information_table table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.information_table tr:last-child td:last-child {
    -moz-border-radius-bottomright:14px;
    -webkit-border-bottom-right-radius:14px;
    border-bottom-right-radius:14px;
}
.information_table table tr:first-child td:first-child {
    -moz-border-radius-topleft:14px;
    -webkit-border-top-left-radius:14px;
    border-top-left-radius:14px;
}
.information_table table tr:first-child td:last-child {
    -moz-border-radius-topright:14px;
    -webkit-border-top-right-radius:14px;
    border-top-right-radius:14px;
}.information_table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:14px;
    -webkit-border-bottom-left-radius:14px;
    border-bottom-left-radius:14px;
}.information_table tr:hover td{
    background-color:#fce8e8;


}
.information_table td{
    vertical-align:middle;

    background-color:#ffffff;

    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:12px;
    font-size:14px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.information_table tr:last-child td{
    border-width:0px 1px 0px 0px;
}.information_table tr td:last-child{
    border-width:0px 0px 1px 0px;
}.information_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.information_table tr:first-child td{
    background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
    background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);

    background-color:#ff5656;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:16px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.information_table tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000) );
    background:-moz-linear-gradient( center top, #ff5656 5%, #7f0000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");	background: -o-linear-gradient(top,#ff5656,7f0000);

    background-color:#ff5656;
}
.information_table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.information_table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

/*KOMENTARZE*/
#references, #comments { 
    display: block; 
    width: 100%; 
    background: #fff; 
    padding: 14px 20px; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin-top: 25px;

}

#references a, #comments a { 
    color: #896dc6; 
    text-decoration: none; 
}

.commentbox{ 
    background-color: #ececec;
    //width: 450px;
    padding: 10px;
    margin-top: 5px;
    width: max-content;
}

#comments .commentbox{
    background-color: #F8E5F7;
}

.commentfooter{
    background: url(../images/arrow.gif) 20px 0 no-repeat; 
    padding-left: 58px;
    padding-top: 1px;
    margin-bottom: 2em;
    font-size: 90%;
    color: #4A4A4A;
}

#comments .commentfooter {
    background: url(../images/arrow2.gif) 20px 0 no-repeat; 
}

#references div textarea {
    float:right;
    margin-top:15px;
    background-color: #FEEBB2;
    width:auto;
    height:auto;
    width: 100%;
}

#references div input {
    float:right;
    margin-bottom:15px;
    color: #FEEBB2;
    background-color:black;
    font-size:110%;
    padding:8px;
    margin-left: 100px;
}

#comments div textarea {
    float:right;
    margin-top:15px;
    background-color: #F8E5F7;
    width:auto;
    height:auto;
    width: 100%;
}

#comments div input {
    float:right;
    margin-bottom:15px;
    color: #F8E5F7;
    background-color:black;
    font-size:110%;
    padding:8px;
    margin-left: 100px;
}

/*rating*/
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    /*top:-9999px; <-przeładowuje */
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
/*
.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}*/

/*searching*/
.search {
    text-align: right;
    margin: auto 80px 50px auto;
}

span.tooltips {
    position: relative;
    display: inline;
}
span.tooltips span {
    position: absolute;
    width:250px;
    color: #FFFFFF;
    background: #000000;
    /*height: 30px;*/
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    opacity: 0.95;
    top: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}
span.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
#txtHint a{
    color: #ea0;
}

.offer_active {
    color:crimson;
}

.offer_inactive {
    color:black;
}

/*new message*/
#new_message {
    border: 1px solid #CCA383;
    width: 70%;
    background: #C9B989;
    padding: 3px;
    margin-bottom :20px;
}
#new_message legend {
    background: #B57340;
    padding: 6px;
    font-weight: bold;
}

#new_message textarea {
    width: 100%;
}

#new_message input {
    background: #B57340;
    color: #FEEBB2;
    padding: 5px;
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}


.message {
    margin: 5px;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0px 0px 5px #000000;
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

.message_header {
    font-size:80%;
    color:#7f0000;
}
.message_content {
    padding: 5px;
    font-size: 110%;
    color: black;
}

#received, #sent {
    margin: 15px;
}

.unread {
    font-weight: bold;
}